.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #424242;
  color: #ffffff;
  font-family: sans-serif;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.1em;
  padding: 40px;
  background-color: #555555;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
}
.login-title {
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.login-subtitle {
  color: #cccccc;
  font-size: 1em;
  margin-bottom: 30px;
  text-align: center;
}   
.login-button {
  background-color: #000;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 15px;
  cursor: pointer;
}       
.login-button:hover {
  opacity: 0.9;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1em;
  background-color: #ffffff;
  color: #333333;
}
.or-separator {
  margin: 20px 0;
  font-size: 0.9em;
  color: #cccccc;
  text-align: center;
  width: 100%;
}
.login-form .login-button {
  margin-right: 0;
  margin-bottom: 10px;
}
.login-form .login-button:last-child {
  margin-bottom: 0;
}   
 
